*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    background-color: #1a1940;
}
.homebody{
    position:relative;
    width: 100%;
    height: 100%;
    background-color: #1a1940;
}