.flex-container{
    width: 40vw;
    top: 30px;
}
.delete-button{
    left: 50vw;
}
.todo-ctn{
    width:100%;
    
}
.tab-selected{
    background-color: rgb(46, 124, 241);
    color: white;
}
@media only screen and (max-width: 768px) { 
    .flex-container{
        width: 80vw;
        top: 30px;
    }
}
