.flex-container{
    
    width: 50vw;
    top: 30px;
}
.delete-button{
    left: 50vw;
}
@media only screen and (max-width: 768px) { 
    .flex-container{
        left: 10vw;
        width: 90vw;
        top: 30px;
    }
}
