.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-template-rows: 6fr;
  grid-gap: 150px;
  grid-row-gap: 240px;
}
.grid-item {
  grid-column: span 1;
  grid-row: span 1;
  justify-self: space-between;
}
